<a href="https://colab.research.google.com/github/Nasreen69/NLP/blob/main/NLP_Basics_IMDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# packages we can use are spacy / nltk 
import spacy

In [ ]:
# inside spacy there are pre-defined models which understands english 
# load the pre-defined model 
nlp = spacy.load("en_core_web_sm")

In [ ]:
text_data = "Welcome to a new session of Machine Learning which is Natural Learning Processing(NLP)"
text_data1 = "The Mars Orbiter Mission (MOM), informally known as Mangalyaan, was launched into Earth orbit on 5 November 2013 by the Indian Space Research Organisation (ISRO) and has entered Mars orbit on 24 September 2014. India thus became the first country to enter Mars orbit on its first attempt. It was completed at a record low cost of $74 million."
text = "The spaCy v3 trained pipelines are designed to be efficient and configurable. For example, multiple components can share a common “token-to-vector” model and it’s easy to swap out or disable the lemmatizer. The pipelines are designed to be efficient in terms of speed and size and work well when the pipeline is run in full."
text1 = "This is example."
print(text_data)

Welcome to a new session of Machine Learning which is Natural Learning Processing(NLP)

In [ ]:
doc = nlp(text_data)
print(doc)

Welcome to a new session of Machine Learning which is Natural Learning Processing(NLP)

In [ ]:
for token in doc:
  print(token.text)

Welcome
to
a
new
session
of
Machine
Learning
which
is
Natural
Learning
Processing(NLP
)

In [ ]:
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
nltk.download('punkt') #punkt is a inbulit model in nltk which helps tokenize, split words

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
print(word_tokenize(text_data))

['Welcome', 'to', 'a', 'new', 'session', 'of', 'Machine', 'Learning', 'which', 'is', 'Natural', 'Learning', 'Processing', '(', 'NLP', ')']

In [ ]:
# like spacy we have nltk which also can be used to process text data
# we will concatenate on using spacy
# brain will concentrate the relevant words 
# you may want to know which are the STOPWORDS inside your tokens

In [ ]:
stopwords = nlp.Defaults.stop_words
print(stopwords)

#stopwords are the words which do not add a lot of valuable information to the sentence, I am there...
# corpus of words --> where did we get this set of words? from nlp(nlp = spacy.load("en_core_web_sm"))

{'top', 'go', 'we', 'n’t', 'eight', '’re', 'further', 'who', 'throughout', 'not', 'name', 'hereupon', 'fifteen', 'give', 'per', 'formerly', 'meanwhile', 'thus', 'perhaps', 'moreover', 'ourselves', 'at', 'its', 'where', 'he', 'how', 'can', 'former', 'because', 'call', 'him', 'whither', 'since', 'any', 'your', 'nor', 'thence', 'besides', 'four', 'by', 'been', 'for', 'take', 'was', 'herein', 'between', 'becomes', 'also', 'this', 'do', 'several', 'anything', 'eleven', 'something', 're', 'very', 'those', 'yet', 'as', 'rather', 'five', 'onto', 'yourself', 'and', 'must', 'due', 'say', 'few', 'anyhow', 'still', "'ll", 'all', '‘ve', 'always', 'therein', '’s', '’d', 'being', 'nevertheless', 'towards', 'amount', 'see', 'seemed', 'most', '’ve', 'their', 'used', 'next', 'unless', "'m", 'below', 'using', "'ve", 'beyond', 'her', 'if', 'mostly', 'did', 'twelve', 'whom', 'others', 'full', 'along', 'than', 'on', 'three', 'does', 'with', 'already', 'but', 'became', 'somehow', '‘s', 'us', 'whole', 'off', 'whether', 'herself', 'same', 'one', 'beforehand', 'upon', 'about', 'against', 'ours', 'everywhere', 'regarding', 'ca', "n't", 'whence', 'could', 'however', 'mine', 'somewhere', 'really', 'various', 'whose', 'it', 'hers', 'is', 'nobody', 'fifty', 'become', 'among', 'toward', 'put', 'out', 'she', 'forty', 'during', 'twenty', 'whatever', 'why', 'whereafter', 'two', 'may', 'another', 'someone', 'they', '’ll', 'hereby', 'seeming', 'front', 'often', 'then', 'them', 'whenever', 'never', 'wherein', 'behind', 'when', 'are', 'less', 'much', 'seems', 'otherwise', 'sometimes', 'above', 'again', 'own', 'to', 'afterwards', 'ten', 'within', 'cannot', 'thru', 'although', 'across', 'once', 'had', 'i', 'nothing', 'everyone', 'our', 'should', 'whoever', 'have', 'make', 'least', 'be', 'even', 'were', 'please', 'without', 'latter', 'the', 'seem', 'which', 'through', 'thereby', 'myself', 'ever', 'both', 'me', 'well', 'hundred', 'around', 'except', 'has', 'thereupon', 'such', 'none', 'empty', 'sixty', 'whereby', 'together', 'thereafter', 'quite', 'get', 'am', 'beside', 'from', 'nowhere', 'while', 'indeed', 'what', 'might', "'re", 'neither', '‘d', 'hence', 'into', 'each', 'many', '’m', 'only', 'last', 'that', 'enough', 'therefore', '‘re', 'yours', 'sometime', 'done', 'there', 'down', 'will', 'before', 'whereas', 'anyway', 'first', 'bottom', 'just', 'some', 'anyone', 'elsewhere', 'or', 'back', 'until', 'serious', 'six', 'alone', 'after', 'doing', 'every', 'yourselves', 'keep', 'latterly', 'though', 'part', 'his', 'an', 'of', 'so', 'my', 'almost', 'a', 'would', 'everything', "'d", 'now', 'these', 'noone', 'other', 'n‘t', 'you', 'whereupon', 'too', "'s", 'nine', 'hereafter', 'more', 'themselves', 'in', 'show', 'anywhere', 'either', 'under', 'himself', 'over', 'no', 'amongst', '‘ll', 'itself', 'becoming', 'made', 'wherever', '‘m', 'up', 'else', 'side', 'third', 'here', 'move', 'namely', 'via'}

In [ ]:
# find the length of list of stopwords
len(stopwords)

326

In [ ]:
# checking the stop words in doc(text data)
for token in doc:
  print(token.is_stop)

False
True
True
False
False
True
False
False
True
True
False
False
False
False

In [ ]:
# remove all the stop words in the list of tokens of text_data
# create a list which contains only the tokens which are not stopwords
text_sw = []

for token in doc:
  if token.is_stop:
    continue
  else:
    text_sw.append(token)

print(text_sw)

[Welcome, new, session, Machine, Learning, Natural, Learning, Processing(NLP, )]

### Tokenize the given sentence and do the stop wrods
The Mars Orbiter Mission (MOM), informally known as Mangalyaan, was launched into Earth orbit on 5 November 2013 by the Indian Space Research Organisation (ISRO) and has entered Mars orbit on 24 September 2014. India thus became the first country to enter Mars orbit on its first attempt. It was completed at a record low cost of $74 million.

In [ ]:
sentence = "The Mars Orbiter Mission (MOM), informally known as Mangalyaan, was launched into Earth orbit on 5 November 2013 by the Indian Space Research Organisation (ISRO) and has entered Mars orbit on 24 September 2014. India thus became the first country to enter Mars orbit on its first attempt. It was completed at a record low cost of $74 million."

In [ ]:
docy = nlp(sentence)
print(docy)

The Mars Orbiter Mission (MOM), informally known as Mangalyaan, was launched into Earth orbit on 5 November 2013 by the Indian Space Research Organisation (ISRO) and has entered Mars orbit on 24 September 2014. India thus became the first country to enter Mars orbit on its first attempt. It was completed at a record low cost of $74 million.

In [ ]:
for token in docy:
  print(token.text)

The
Mars
Orbiter
Mission
(
MOM
)
,
informally
known
as
Mangalyaan
,
was
launched
into
Earth
orbit
on
5
November
2013
by
the
Indian
Space
Research
Organisation
(
ISRO
)
and
has
entered
Mars
orbit
on
24
September
2014
.
India
thus
became
the
first
country
to
enter
Mars
orbit
on
its
first
attempt
.
It
was
completed
at
a
record
low
cost
of
$
74
million
.

In [ ]:
from yaml.events import SequenceStartEvent
sen = []

for token in docy:
  if token.is_stop:
    continue
  else:
    sen.append(token)

print(sen)

[Mars, Orbiter, Mission, (, MOM, ), ,, informally, known, Mangalyaan, ,, launched, Earth, orbit, 5, November, 2013, Indian, Space, Research, Organisation, (, ISRO, ), entered, Mars, orbit, 24, September, 2014, ., India, country, enter, Mars, orbit, attempt, ., completed, record, low, cost, $, 74, million, .]

In [ ]:
# Find the punctuations[( , . )] in the tokens:

import pandas as pd
pd.set_option('max_rows', 99999)
pd.set_option('max_colwidth', 400)
pd.describe_option('max_colwidth')

tokenized_text = pd.DataFrame()

for i, token in enumerate(docy):
  tokenized_text.loc[i, 'Tokens'] = token.text
  tokenized_text.loc[i, 'stop words'] = token.is_stop
  tokenized_text.loc[i, 'IS_PUNCTUATION'] = token.is_punct
  tokenized_text.loc[i, 'POS'] = token.pos_  # add which tokens are belonging to which part of speech?
  tokenized_text.loc[i, 'lemma'] = token.lemma_ # which tokens have the same origin? --> origin/root word of each token --> lemmatization -->lemma
  tokenized_text.loc[i, 'currency'] = token.is_currency
  tokenized_text.loc[i, 'TAG'] = token.tag_ # what is this func .tag_ returning? --> search in official doc --> spacy

tokenized_text

display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 400]

          Tokens stop words IS_PUNCTUATION    POS         lemma currency    TAG
0            The       True          False    DET           the    False     DT
1           Mars      False          False  PROPN          Mars    False    NNP
2        Orbiter      False          False  PROPN       Orbiter    False    NNP
3        Mission      False          False  PROPN       Mission    False    NNP
4              (      False           True  PUNCT             (    False  -LRB-
5            MOM      False          False  PROPN           MOM    False    NNP
6              )      False           True  PUNCT             )    False  -RRB-
7              ,      False           True  PUNCT             ,    False      ,
8     informally      False          False    ADV    informally    False     RB
9          known      False          False   VERB          know    False    VBN
10            as       True          False  SCONJ            as    False     IN
11    Mangalyaan      False          False  PROPN    Mangalyaan    False    NNP
12             ,      False           True  PUNCT             ,    False      ,
13           was       True          False    AUX            be    False    VBD
14      launched      False          False   VERB        launch    False    VBN
15          into       True          False    ADP          into    False     IN
16         Earth      False          False  PROPN         Earth    False    NNP
17         orbit      False          False   NOUN         orbit    False     NN
18            on       True          False    ADP            on    False     IN
19             5      False          False    NUM             5    False     CD
20      November      False          False  PROPN      November    False    NNP
21          2013      False          False    NUM          2013    False     CD
22            by       True          False    ADP            by    False     IN
23           the       True          False    DET           the    False     DT
24        Indian      False          False  PROPN        Indian    False    NNP
25         Space      False          False  PROPN         Space    False    NNP
26      Research      False          False  PROPN      Research    False    NNP
27  Organisation      False          False  PROPN  Organisation    False    NNP
28             (      False           True  PUNCT             (    False  -LRB-
29          ISRO      False          False  PROPN          ISRO    False    NNP
30             )      False           True  PUNCT             )    False  -RRB-
31           and       True          False  CCONJ           and    False     CC
32           has       True          False    AUX          have    False    VBZ
33       entered      False          False   VERB         enter    False    VBN
34          Mars      False          False  PROPN          Mars    False    NNP
35         orbit      False          False   NOUN         orbit    False     NN
36            on       True          False    ADP            on    False     IN
37            24      False          False    NUM            24    False     CD
38     September      False          False  PROPN     September    False    NNP
39          2014      False          False    NUM          2014    False     CD
40             .      False           True  PUNCT             .    False      .
41         India      False          False  PROPN         India    False    NNP
42          thus       True          False    ADV          thus    False     RB
43        became       True          False   VERB        become    False    VBD
44           the       True          False    DET           the    False     DT
45         first       True          False    ADJ         first    False     JJ
46       country      False          False   NOUN       country    False     NN
47            to       True          False   PART            to    False     TO
48         enter      False          False   VERB         enter    False     VB
49          Mars      False          False  PROPN          Mars    False    NNP
50         orbit      False          False   NOUN         orbit    False     NN
51            on       True          False    ADP            on    False     IN
52           its       True          False    DET        -PRON-    False   PRP$
53         first       True          False    ADJ         first    False     JJ
54       attempt      False          False   NOUN       attempt    False     NN
55             .      False           True  PUNCT             .    False      .
56            It       True          False   PRON        -PRON-    False    PRP
57           was       True          False    AUX            be    False    VBD
58     completed      False          False   VERB      complete    False    VBN
59            at       True          False    ADP            at    False     IN
60             a       True          False    DET             a    False     DT
61        record      False          False   NOUN        record    False     NN
62           low      False          False    ADJ           low    False     JJ
63          cost      False          False   NOUN          cost    False     NN
64            of       True          False    ADP            of    False     IN
65             $      False          False    SYM             $     True      $
66            74      False          False    NUM            74    False     CD
67       million      False          False    NUM       million    False     CD
68             .      False           True  PUNCT             .    False      .

In [ ]:
veg = ['carrot', 'cabbage', 'banana']

for i in veg:
  print(i)

carrot
cabbage
banana

In [ ]:
# what is happening in enumerate? which is shortcut to return index no. and element no. ina tuple

for i in enumerate(veg):
  print(i)

(0, 'carrot')
(1, 'cabbage')
(2, 'banana')

![image.png]()!

In [ ]:
from spacy import displacy

In [ ]:
displacy.render(docy, style = "ent", jupyter = True)

In [ ]:
for token in docy.ents:
  print(token.text, token.label_)

The Mars Orbiter Mission ORG
Mangalyaan GPE
Earth LOC
5 November 2013 DATE
the Indian Space Research Organisation ORG
ISRO ORG
Mars LOC
24 September 2014 DATE
India GPE
first ORDINAL
Mars LOC
first ORDINAL
$74 million MONEY

In [ ]:
text = "Mohandas Karamchand Gandhi, more commonly known as ‘Mahatma’ (meaning ‘Great Soul’) was born in Porbandar, Gujarat, in North West India, on 2nd October 1869, into a Hindu Modh family. His father was the Chief Minister of Porbandar, and his mother’s religious devotion meant that his upbringing was infused with the Jain pacifist teachings of mutual tolerance, non-injury to living beings and vegetarianism. Born into a privileged caste, Gandhi was fortunate to receive a comprehensive education, but proved a mediocre student. In May 1883, aged 13, Gandhi was married to Kasturba Makhanji, a girl also aged 13, through the arrangement of their respective parents, as is customary in India. Following his entry into Samaldas College, at the University of Bombay, she bore him the first of four sons, in 1888. Gandhi was unhappy at college, following his parent’s wishes to take the bar, and when he was offered the opportunity of furthering his studies overseas, at University College London, aged 18, he accepted with alacrity, starting there in September 1888."
#text = "Welcome to the India Pavilion at Expo 2020 Dubai.This is a historic Expo.It is the first oneto be held in the Middle East,Africa and South Asia region.India is participating with one of the largest pavilions in the Expo. I am sure the Expo will go a long way in further building our deep and historical relations with UAE, and with Dubai.Let me begin by conveying greetings on behalf of Government and people of India to His Highness Sheikh Khalifa bin Zayed bin "   
print(text)

Mohandas Karamchand Gandhi, more commonly known as ‘Mahatma’ (meaning ‘Great Soul’) was born in Porbandar, Gujarat, in North West India, on 2nd October 1869, into a Hindu Modh family. His father was the Chief Minister of Porbandar, and his mother’s religious devotion meant that his upbringing was infused with the Jain pacifist teachings of mutual tolerance, non-injury to living beings and vegetarianism. Born into a privileged caste, Gandhi was fortunate to receive a comprehensive education, but proved a mediocre student. In May 1883, aged 13, Gandhi was married to Kasturba Makhanji, a girl also aged 13, through the arrangement of their respective parents, as is customary in India. Following his entry into Samaldas College, at the University of Bombay, she bore him the first of four sons, in 1888. Gandhi was unhappy at college, following his parent’s wishes to take the bar, and when he was offered the opportunity of furthering his studies overseas, at University College London, aged 18, he accepted with alacrity, starting there in September 1888.

In [ ]:
doc = nlp(text)

In [ ]:
for token in doc.ents:
  print(token.text, token.label_)

Mohandas Karamchand Gandhi PERSON
Mahatma PERSON
Porbandar GPE
Gujarat GPE
North West India GPE
2nd October 1869 DATE
Hindu NORP
Porbandar PERSON
Gandhi PERSON
May 1883 DATE
aged 13 DATE
Gandhi PERSON
Kasturba Makhanji PERSON
13 DATE
India GPE
Samaldas College ORG
the University of Bombay ORG
first ORDINAL
four CARDINAL
1888 DATE
Gandhi PERSON
University College London ORG
18 DATE
September 1888 DATE

***Vectorization of your text data***

In [ ]:
!wget https://www.dropbox.com/s/dctsk9k67x2jgnb/imdb_labelled.txt

--2022-01-01 12:45:10--  https://www.dropbox.com/s/dctsk9k67x2jgnb/imdb_labelled.txt
Resolving www.dropbox.com (www.dropbox.com)... 162.125.2.18, 2620:100:6022:18::a27d:4212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.2.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/dctsk9k67x2jgnb/imdb_labelled.txt [following]
--2022-01-01 12:45:10--  https://www.dropbox.com/s/raw/dctsk9k67x2jgnb/imdb_labelled.txt
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc0c4a6a8a731f4c907be95a5e2b.dl.dropboxusercontent.com/cd/0/inline/Bc9bDP9xfs4hUon1MZujb9S7Ftf9kAivQxWSiNYQy-LgJLa1zy_2HzNTQ15OkGE2BrLK8CWsOmgE73KFP8vM7-3nFbQU1gVh6ffkIenZ1U2XAvg5PHcD2Wk-2p_5ZLjt1X5c0fvRmhuVmR71OHBdDSm4/file# [following]
--2022-01-01 12:45:10--  https://uc0c4a6a8a731f4c907be95a5e2b.dl.dropboxusercontent.com/cd/0/inline/Bc9bDP9xfs4hUon1MZujb9S7Ftf9kAivQxWSiNYQy-LgJLa1zy_2HzNTQ15OkGE2BrLK8CWsOmgE73KFP8vM7-3nFbQU1gVh6ffkIenZ1U2XAvg5PHcD2Wk-2p_5ZLjt1X5c0fvRmhuVmR71OHBdDSm4/file
Resolving uc0c4a6a8a731f4c907be95a5e2b.dl.dropboxusercontent.com (uc0c4a6a8a731f4c907be95a5e2b.dl.dropboxusercontent.com)... 162.125.2.15, 2620:100:6017:15::a27d:20f
Connecting to uc0c4a6a8a731f4c907be95a5e2b.dl.dropboxusercontent.com (uc0c4a6a8a731f4c907be95a5e2b.dl.dropboxusercontent.com)|162.125.2.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 85285 (83K) [text/plain]
Saving to: ‘imdb_labelled.txt’

imdb_labelled.txt   100%[===================>]  83.29K  --.-KB/s    in 0.05s

2022-01-01 12:45:10 (1.71 MB/s) - ‘imdb_labelled.txt’ saved [85285/85285]

In [ ]:
import pandas as pd

In [ ]:
# create a dataframe of .txt file
# rename the columns as 'Review', 'sentiment'

df = pd.read_csv("/content/imdb_labelled.txt", sep='\t', header=None)
df.head()

                                                                                                                                                                                              0  1
0                                                                                                       A very, very, very slow-moving, aimless movie about a distressed, drifting young man.    0
1                                                                                           Not sure who was more lost - the flat characters or the audience, nearly half of whom walked out.    0
2  Attempting artiness with black & white and clever camera angles, the movie disappointed - became even more ridiculous - as the acting was poor and the plot and lines almost non-existent.    0
3                                                                                                                                                  Very little music or anything to speak of.    0
4                                                                                  The best scene in the movie was when Gerardo is trying to find a song that keeps running through his head.    1

In [ ]:
df.columns = ['Review', 'Sentiment']
df.head()

                                                                                                                                                                                         Review  Sentiment
0                                                                                                       A very, very, very slow-moving, aimless movie about a distressed, drifting young man.            0
1                                                                                           Not sure who was more lost - the flat characters or the audience, nearly half of whom walked out.            0
2  Attempting artiness with black & white and clever camera angles, the movie disappointed - became even more ridiculous - as the acting was poor and the plot and lines almost non-existent.            0
3                                                                                                                                                  Very little music or anything to speak of.            0
4                                                                                  The best scene in the movie was when Gerardo is trying to find a song that keeps running through his head.            1

In [ ]:
nlp = spacy.load("en_core_web_sm")

In [ ]:
text = df['Review'][1]
text

'Not sure who was more lost - the flat characters or the audience, nearly half of whom walked out.  '

In [ ]:
doct = nlp(text)

for token in doct:
  print(token.text)

Not
sure
who
was
more
lost
-
the
flat
characters
or
the
audience
,
nearly
half
of
whom
walked
out
.

### remove the stop words & the punctuations from the list of token

In [ ]:
#read 1st review , tokenize it, and remove all the stop words and all the punctuations
pd.set_option('max_rows', 99999)
pd.set_option('max_colwidth', 400)
pd.describe_option('max_colwidth')

tokenized_text = pd.DataFrame()

for i, token in enumerate(doct):
  tokenized_text.loc[i, 'Tokens'] = token.text
  tokenized_text.loc[i, 'stop words'] = token.is_stop
  tokenized_text.loc[i, 'IS_PUNCTUATION'] = token.is_punct

tokenized_text

display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 400]

        Tokens stop words IS_PUNCTUATION
0          Not       True          False
1         sure      False          False
2          who       True          False
3          was       True          False
4         more       True          False
5         lost      False          False
6            -      False           True
7          the       True          False
8         flat      False          False
9   characters      False          False
10          or       True          False
11         the       True          False
12    audience      False          False
13           ,      False           True
14      nearly      False          False
15        half      False          False
16          of       True          False
17        whom       True          False
18      walked      False          False
19         out       True          False
20           .      False           True
21                  False          False

In [ ]:
# we can do like below also
tokenized_text = tokenized_text.drop(tokenized_text[(tokenized_text['stop words'] == True) | (tokenized_text['IS_PUNCTUATION'] == True)].index)
tokenized_text

        Tokens stop words IS_PUNCTUATION
6         slow      False          False
8       moving      False          False
10     aimless      False          False
11       movie      False          False
14  distressed      False          False
16    drifting      False          False
17       young      False          False
18         man      False          False
20                  False          False

In [ ]:
#another way
imp_w = []
for token in doct:
  if token.is_stop:
    continue
  if token.is_punct:
    continue
  else:
    imp_w.append(token)

print(imp_w)

[slow, moving, aimless, movie, distressed, drifting, young, man,  ]

In [ ]:
import string
punct = string.punctuation
#stopwords = nlp.Defaults.stop_words
punct

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
from spacy.lang.en.stop_words import STOP_WORDS

In [ ]:
punct = string.punctuation
def text_data_cleaning(review):
  doc = nlp(review)

  tokens = []

  for token in doc:
    if token.lemma_ != "-PRON-":
      temp = token.lemma_.lower().strip()
    else:
      temp = token.lower_

    tokens.append(temp)

  cleaned_tokens = []
  for token in tokens:
    if token not in stopwords and token not in punct:
      cleaned_tokens.append(token)

  return cleaned_tokens

In [ ]:
#@title
clean_token  = text_data_cleaning(df['Review'][0])
clean_token

In [ ]:
def tokenize(x):
  doc=nlp(x)
  lst=[]
  for token in doc:
    if token.is_stop==False and token.is_punct==False:
      lst.append(token)
  lst1=[]
  for i in lst:
    i=str(i)
    lst1.append(i)

  return ' '.join(lst1)

df['tokenized']=df['Review'].apply(lambda x: tokenize(x))

In [ ]:
clean_token = text_data_cleaning(df['Review'][1])
clean_token

['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk']

In [ ]:
clean2 = tokenize(df['Review'][1])
clean2

'sure lost flat characters audience nearly half walked  '

In [ ]:
X = df['Review']
y = df['Sentiment']

In [ ]:
df.head()

                                                                                                                                                                                         Review  ...                                                                                                                 tokenized
0                                                                                                       A very, very, very slow-moving, aimless movie about a distressed, drifting young man.    ...                                                                 slow moving aimless movie distressed drifting young man
1                                                                                           Not sure who was more lost - the flat characters or the audience, nearly half of whom walked out.    ...                                                                   sure lost flat characters audience nearly half walked
2  Attempting artiness with black & white and clever camera angles, the movie disappointed - became even more ridiculous - as the acting was poor and the plot and lines almost non-existent.    ...  Attempting artiness black white clever camera angles movie disappointed ridiculous acting poor plot lines non existent
3                                                                                                                                                  Very little music or anything to speak of.    ...                                                                                                      little music speak
4                                                                                  The best scene in the movie was when Gerardo is trying to find a song that keeps running through his head.    ...                                                            best scene movie Gerardo trying find song keeps running head

[5 rows x 3 columns]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf = TfidfVectorizer(tokenizer= text_data_cleaning)
X = tfidf.fit_transform(df['Review'])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=64)

In [ ]:
X_test.shape

(150, 2478)

In [ ]:
y_test.shape

(150,)

In [ ]:
#we will fit a classifier model on X_train, y_train
# SVClassifier
from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
classifier = LinearSVC()

classifier.fit(X_train,y_train)

LinearSVC()

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test, y_pred))

[[55 15]
 [15 65]]
              precision    recall  f1-score   support

           0       0.79      0.79      0.79        70
           1       0.81      0.81      0.81        80

    accuracy                           0.80       150
   macro avg       0.80      0.80      0.80       150
weighted avg       0.80      0.80      0.80       150

#####*Another way*

In [ ]:
def tokenize(x):
  doc=nlp(x)
  lst=[]
  for token in doc:
    if token.is_stop==False and token.is_punct==False:
      lst.append(token)
  lst1=[]
  for i in lst:
    i=str(i)
    lst1.append(i)

  return ' '.join(lst1)

df['tokenized']=df['Review'].apply(lambda x: tokenize(x))

In [ ]:
def text_data_cleaning(review):
  doc = nlp(review)

  tokens = []

  for token in doc:
    if token.lemma_ != "-PRON-":
      temp = token.lemma_.lower().strip()
    else:
      temp = token.lower_

    tokens.append(temp)

  cleaned_tokens = []
  for token in tokens:
    if token not in stopwords and token not in punct:
      cleaned_tokens.append(token)

  return cleaned_tokens

In [ ]:
clean_token1 = text_data_cleaning(df['Review'][1])
clean_token1

['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk']

In [ ]:
for token in doc.ents:
  print(clean_token1, token.label_)

['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] PERSON
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] PERSON
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] GPE
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] GPE
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] GPE
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] DATE
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] NORP
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] PERSON
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] PERSON
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] DATE
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] DATE
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] PERSON
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] PERSON
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] DATE
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] GPE
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] ORG
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] ORG
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] ORDINAL
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] CARDINAL
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] DATE
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] PERSON
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] ORG
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] DATE
['sure', 'lose', 'flat', 'character', 'audience', 'nearly', 'half', 'walk'] DATE

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf1 = TfidfVectorizer(tokenizer=text_data_cleaning)
X1 = tfidf1.fit_transform(df['Review'])

In [ ]:
y1 = df['Sentiment']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X1,y1, test_size=0.3, random_state=64)

In [ ]:
print(X_train.shape)
print(y_train.shape)

(523, 2478)
(523,)

In [ ]:
from sklearn.svm import LinearSVC, SVC
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
model_svc = LinearSVC()

model_svc.fit(X_train, y_train)

y_pred_train = model_svc.predict(X_train)
y_pred_test = model_svc.predict(X_test)

In [ ]:
print(confusion_matrix(y_test, y_pred_test))
print(classification_report(y_test, y_pred_test))

[[79 25]
 [28 93]]
              precision    recall  f1-score   support

           0       0.74      0.76      0.75       104
           1       0.79      0.77      0.78       121

    accuracy                           0.76       225
   macro avg       0.76      0.76      0.76       225
weighted avg       0.77      0.76      0.76       225